/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 319px){
    .container{
      margin-left: var(--mb-1);
      margin-right: var(--mb-1);
    }
  
    .home__img{
      width: 300px;
    }
    .home__title{
      font-size: var(--h1-font-size);
    }
  
    .steps__bg{
      padding: 2rem 1rem;
    }
    .steps__card{
      padding: 1.5rem;
    }
  
    .product__container{
      grid-template-columns: .6fr;
      justify-content: center;
    }
  
    .contact {
      margin: 0;
    }
  }
  
  /* For medium devices */
  @media screen and (min-width: 500px){
    .steps__container{
      grid-template-columns: repeat(2, 1fr);
    }
  
    .product__description{
      padding: 0 4rem;
    }
    .product__container{
      grid-template-columns: repeat(2, 170px);
      justify-content: center;
      column-gap: 3rem;
    }
  
  }
  
  @media (min-width: 761px) {
    .home__container,
    .about__container,
    .questions__container,
    .contact__container,
    .footer__container{
      grid-template-columns: repeat(2, 1fr);
    }
    
    .home{
      padding: 3rem 0 4rem;
    }
    .home__container{
      align-items: center;
      text-align: start;
      padding: 7rem 1rem 7rem 1rem;
    }
    .home__data {
      margin-top: 1rem;
    }
    .home__img{
      width: 375px;
      order: 1;
    }
    .home__social{
      top: 36%;
      right: -.25rem;
    }
    .qualities__container{
      margin-top: var(--mb-6);
    }
  
    .gallery__container {
      width: 610px;
      margin-left: auto;
      margin-right: auto;
    }
  
    .gallery__container,
    .place__container {
      padding-top: 2rem;
    }
  
    .questions__container{
      align-items: flex-start;
    }
  
    .footer__container{
      column-gap: 1rem;
      max-width: 1100px;
      margin: 0 auto;
    }
  
    .footer__map {
      margin-right: .5rem;
    }
  
    .footer__logo {
      margin-right: 1.75rem;
      margin-left: .5rem;
    }
  
  }
  
  @media screen and (min-width: 801px){
    body{
      margin: 0;
    }
  
    .section{
      padding-top: 8rem;
    }  
    .nav__toggle,
    .nav__close{
      display: none;
    }
    .nav{
      height: calc(var(--header-height) + .5rem);
    }
    .nav__list{
      flex-direction: row;
      margin-right: 1rem;
    }
    .nav__link {
      margin-inline: 1.25rem;
    }
    .nav__menu{
      margin-left: auto;
    }
  }
  
  /* For large devices */
  @media screen and (min-width: 992px){
    .container{
      margin-left: auto;
      margin-right: auto;
    }
  
    .section{
      padding: 7rem 0 1rem;
    }
  
    .section__title,
    .section__title-center{
      font-size: var(--h1-font-size);
    }

    .event {
      padding: 5rem 0 8rem;
    }

  
    .contact {
      padding: 10rem 1rem 12rem;
    }
  
    .bd-container{
      margin-left: auto;
      margin-right: auto;
    }
    .nav__list{
      margin-right: 3rem;
    }
  
    .home{
      padding: 3rem 0 0;
    }
    .home__img{
      width: 450px;
    }
    .home__description{
      padding-right: 3rem;
    }
  
    .about__img{
      width: 380px;
    }
  
    .steps__container{
      grid-template-columns: repeat(3, 1fr);
    }
    .steps__bg{
      padding: 3.5rem 2.5rem;
    }
    .steps__card-title{
      font-size: var(--normal-font-size);
    }
  
    .product__description{
      padding: 0 10rem;
    }
    .product__container{
      padding: 2rem 0 4rem 0;
      grid-template-columns: repeat(3, 185px);
      gap: 3rem 6rem;
    }
    .product__img{
      width: 100%;
      height: 12rem
    }
    .product__img-back {
      padding: 1rem;
      font-size: .75rem;
    }
    .product__title,
    .product__price{
      font-size: var(--normal-font-size);
    }

    .partners {
      padding-block: 4.5em 10em;
    }
    .about {
      padding-bottom: 8em;

    }
  

    .footer__logo{
      font-size: var(--h3-font-size);
    }
    .footer__container{
      grid-template-columns: .25fr .75fr .75fr .5fr;
    }
  }
  
  @media screen and (min-width: 1200px){
    .home__social{
      right: 0;
      row-gap: 4.5rem;
    }
    .home__social-follow{
      font-size: 1.125rem;
    }
    .home__social-follow::after{
      width: 1.25rem;
      right: -40%;
    }
    .home__social-link{
      font-size: 1.6rem;
    }
  
    .about__container{
      column-gap: 7rem;
    }
  
    .scrollup{
      right: 3rem;
    }
  }
  
  /* For tall screens on mobiles y desktop*/
  @media screen and (min-height: 900px) {
    .home__container {
        height: 600px;
    }
  }
  