/*=============== CONTACT ===============*/
.contact {
    max-width: 100%;
    margin: 0;
    padding: 10rem 1rem 10rem;
    background-color: var(--yellow);
    position: relative;
  }
  
  .contact__container{
    max-width: 1000px;
    margin: 0 auto;
    row-gap: 3.5rem;
  }
  
  .contact__data{
    display: grid;
    row-gap: 2rem;
  }
  
  .contact__social {
    display: grid;
    row-gap: .5rem;
  }
  
  .contact__social-icon {
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: .5rem;
    padding-right: .25rem;
    width: 240px;
    transition: all 250ms ease-in-out;
  }
  
  .contact__social-icon p {
    font-size: var(--small-font-size);
    color: var(--text-color);
  }
  
  .contact__social-icon i {
    font-size: 1.85rem;
    padding-inline: .1rem;
  }
  
  .contact__social-icon:hover {
    opacity: .6;
  }
  
  .contact__social-facebook i {
    background-color: blue;
    border-radius: .25rem;
  }
  
  .contact__social-instagram i {
    background-color: red;
    background-image: linear-gradient(to top right, red, purple);
    border-radius: .25rem;
  }
  
  .contact__social-whatsapp i {
    background-color: green;
    border-radius: .25rem;
  }
  
  .contact__subtitle{
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    color: var(--text-color);
    margin-bottom: var(--mb-0-5);
  }
  
  .contact__description{
    display: flex;
    align-items: center;
    column-gap: .5rem;
    color: var(--text-color);
    padding-block: .2rem;
    font-weight: var(--font-medium);
  }
  
  .contact__icon{
    font-size: 1.25rem;
  }
  
  .contact__inputs{
    display: grid;
    row-gap: 2rem;
    margin-bottom: var(--mb-2-5);
  }
  
  .contact__content{
    position: relative;
    height: 3rem;
    border-bottom: 1px solid var(--text-color-light);
  }
  
  .contact__input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 1rem 1rem 1rem 0;
    background: none;
    color: var(--text-color);
    border: none;
    outline: none;
    z-index: 1;
  }
  
  .contact__label{
    position: absolute;
    top: .75rem;
    width: 100%;
    font-size: var(--small-font-size);
    color: var(--text-color-light);
    transition: .3s;
  }
  
  .contact__area{
    height: 7rem;
  }
  
  .contact__area textarea{
    resize: none;
  }
  
  /*Input focus move up label*/
  .contact__input:focus + .contact__label{
    top: -.75rem;
    left: 0;
    font-size: var(--smaller-font-size);
    z-index: 10;
  }
  
  /*Input focus sticky top label*/
  .contact__input:not(:placeholder-shown).contact__input:not(:focus) + .contact__label{
    top: -.75rem;
    font-size: var(--smaller-font-size);
    z-index: 10;
  }