/* ========================== EVENT ===================== */
.event {
    background-color: var(--white-color);
    position: relative;
    padding: 5rem 0 8rem;
    text-align: center;
  }
  .event__container {
    overflow: initial;
  }
  .event__content {
    box-sizing: border-box;
    padding: 0 1.5rem;
  }
  
  .event__img {
    width: 265px;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
    justify-self: center;
    transition: 
        transform 1500ms cubic-bezier(.5, 0, .5, 1),
        opacity 250ms linear;
  }
  
  .event__img:hover {
    transform: scale(1.125, 1.125);
    opacity: .95;
  }
  
  .event__title {
    font-size: var(--h3-font-size);
    margin-bottom: var(--mb-0-5);
  }
  .event__description {
    margin-bottom: var(--mb-0-75);
  }
  .event__button {
    padding: 0.6rem 1rem;
  }
  .event__button:hover .button__icon {
    transform: translateX(0.25rem);
    -webkit-transform: translateX(0.25rem);
    -moz-transform: translateX(0.25rem);
    -ms-transform: translateX(0.25rem);
    -o-transform: translateX(0.25rem);
  }
  @media only screen and (min-width: 568px) {
    .event__content {
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
      column-gap: .5rem;
    }
  
    .event {
      text-align: start;
    }
  }
  @media only screen and (min-width: 768px) {
    .event__img {
      width: 320px;
    }
  }
  @media only screen and (min-width: 1024px) {
    .event__content {
      -moz-column-gap: 1rem;
           column-gap: 1rem;
    }
  }
  
  .swiper-button-next::after,
  .swiper-button-prev::after {
    content: "";
  }
  
  .swiper-arrow-icon {
    font-size: 2rem;
    color: var(--purple);
  }
  @media only screen and (min-width: 1024px) {
    .swiper-arrow-icon {
      font-size: 3.5rem;
    }
  }
  
  .swiper-button-next {
    right: -0.75rem;
  }
  @media only screen and (min-width: 1024px) {
    .swiper-button-next {
      right: -3.5rem;
    }
  }
  
  .swiper-button-prev {
    left: -0.75rem;
  }
  @media only screen and (min-width: 1024px) {
    .swiper-button-prev {
      left: -3.5rem;
    }
  }
  
  .swiper-container-horizontal > .swiper-pagination-bullets {
    bottom: -2.5rem;
  }
  @media only screen and (min-width: 1024px) {
    .swiper-container-horizontal > .swiper-pagination-bullets {
      bottom: -4.5rem;
    }
  }
  
  .swiper-pagination-bullet-active {
    background-color: var(--purple);
  }
  
  .swiper-button-prev,
  .swiper-button-next,
  .swiper-pagination-bullet {
    outline: none;
  }
  
  @media only screen and (min-width: 1024px) {
    .swiper-pagination-bullet {
      width: 0.8rem;
      height: 0.8rem;
    }
  }

  .section__title1 {
    font-size: var(--h1-font-size);
  }
  
  .section__subtitle1 {
    display: block;
    font-size: var(--small-font-size);
    margin-bottom: var(--mb-3);
  }
  
  .section__subtitle1,
  .section__title1 {
    text-align: center;
  }