/*=============== HOME ===============*/
.home{
    position: relative;
    padding: 0;
    background-color: var(--yellow);
  }
  
  @media (min-height: 650px) and (min-width: 761px) {
    .home {
      height: 98vh;
      height: 98svh;
    }
  }
  
  @media (min-height: 750px) {
    .home {
      height: auto;
    }
  }

  .announcements {
    width: 100%;
    padding-top: 1.125rem;
    background-color: var(--purple);
    color: var(--yellow);
    z-index: var(--z-fixed);
    box-shadow: var(--bs);
    p {
      text-align: center;
      padding: 1.75em 1em;
    }
  }

@media (max-width: 760px) {
    .announcements {
      padding-top: 3.6rem;
  }
}
  
  .home__container{
    max-width: 1000px;
    margin: 0 auto;
    align-items: center;
    padding: 0 1rem 5.5rem;
    position: relative;
    row-gap: 0rem;
    z-index: 3;
  }

  @media (max-width: 499.9px) {
    .home__container {
      padding: 0 1rem 3.5rem;
    }
  }

  .home__img{
    width: 350px;
    padding: 1rem;
    justify-self: center;
  }

  @media (max-width: 760px) {
    .home__data {
      margin-left: .5rem;
      margin-bottom: 1rem;
    }
    .home__description {
      max-width: 400px;
    }
    .home__img {
      padding-top: .5rem;
    }
  }
  
  .home__title{
    font-size: var(--big-font-size);
    line-height: 125%;
    margin-bottom: var(--mb-1);
    margin-top: 0;
  }
  
  .home__description{
    margin-bottom: 1.5rem;
    color: var(--text-color);
  }
  
  .home__social{
    position: absolute;
    top: 4.25rem;
    right: 0;
    display: grid;
    justify-items: center;
    row-gap: 3.75rem;
    z-index: 4;
  }
  
  @media (max-width: 350px) {
    .home__social {
      top: 3.5rem;
    }
  }
  
  .home__social-follow{
    font-weight: var(--font-medium);
    font-size: var(--normal-font-size);
    color: var(--purple);
    position: relative;
    transform: rotate(90deg);
  }
  
  .home__social-follow::after{
    content: '';
    position: absolute;
    width: 1rem;
    height: 1px;
    background-color: var(--purple);
    right: -35%;
    top: 45%;
  }
  
  .home__social-links{
    display: inline-flex;
    flex-direction: column;
    row-gap: .25rem;
  }
  
  .home__social-link{
    font-size: 1.35rem;
    color: var(--purple);
    transition: .3s;
  }
  
  .home__social-link:hover{
    transform: translateX(.25rem);
  }
  
  @media (min-width: 500px) {
    .home__social {
      right: 3rem;
    }
  }

  @media (min-width: 550px) {
    .home__social {
      right: 4.5rem;
    }
  }
  
  @media (min-width: 600px) {
    .home__social {
      right: 6rem;
    }
  }

  @media (min-width: 650px) {
    .home__social {
      right: 7rem;
    }
  }

  @media (min-width: 710px) {
    .home__social {
      right: 9.5rem;
    }
  }
  
  @media (max-width: 400px) {
    .home__social {
      row-gap: 3.25rem;
    }
  
    .home__social-follow {
      font-size: var(--smaller-font-size);
    }
  
    .home__social-follow::after {
      right: -45%;
      top: 50%;
    }
  
    .home__social-link {
      font-size: 1rem;
    }
  }